// START COLOR PALETTE
$primary: #141e49; /* Main brand color */
$secondary: #d5af34; /* Secondary brand color */
$accent: #d5af34; /* Accent brand color */

$bg-primary: #ffffff;
$bg-secondary: #f5f5f5;

$text-primary: #333333;
$text-secondary: #666666;
$text-tertiary: #808080;
// END COLOR PALETTE
